<div class="fixed inset-0 z-50 flex items-center justify-center min-h-screen "*ngIf="isLoading|async">
  <div class="flex  backdrop-blur-sm   shadow-xl  max-w-[74rem]  gap-2 rounded-lg p-1 sm:p-4 container mx-auto items-center justify-center flex-col "  >
    <div class="flex items-center justify-center  backdrop-filter backdrop-brightness-105 w-full sm:h-[22rem] overflow-auto">
    <div class="w-16 h-16 border-[8px] border-green-500 border-solid rounded-full shadow-md animate-spin border-t-transparent"></div>
    <!-- <div class="relative w-24 h-24 rounded-full animate-spin bg-gradient-to-r from-purple-400 via-blue-500 to-red-400 ">
      <div class="absolute w-20 h-20 transform -translate-x-1/2 -translate-y-1/2 bg-gray-200 border-2 border-white rounded-full top-1/2 left-1/2"></div>
  </div> -->
    </div>
  </div>

</div>
